#about {
    margin: 10vh 11vw 7vh 11vw;
}

.presentación-acts {
    width: 35vw;
}

.acts-container {
    display: flex;
    margin: 1em 20% 0 20%;
    flex-wrap: wrap;
}


.act {
    margin-right: 1em;
    margin-top: 1em;
    width: 300px;
    background-color: #f1eff9;
    height: min-content;
    padding: 0.5em 1em;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.32);
}

.act:nth-of-type(1) {
    flex-grow: 4;
}

.act:nth-of-type(2) {
    flex-grow: 1;
}

.act:last-of-type {
    margin-right: 0;
    flex-grow: 2;
    background-color: #b98c65;
}

.presentación-pending {
    margin-top: 6vh;
    text-align: left;
    width: 35vw;
}

.pending-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 10vw;
}

.pending-site {
    width: 80%;
    background-color: #824e26;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pending-site h2 {
    margin-bottom: 0.5em;
}

.pending-site p {
    color: #f1eff9;
}

@media (max-width: 768px) {
    .presentación-pending {
        width: 90vw;
        margin: 10vh 5vw 0 5vw;
    }

    .pending-container {
        margin: 1em 5vw;
    }

    .pending-site {
        width: 100%;
    }
}


@media (max-width: 1728px) {
    .presentación-acts {
        width: 70vw;
        margin: 10vh 15vw 0 15vw;
    }

    .act:nth-of-type(1) {
        width: 500px;
    }

}

@media only screen and (device-width < 500px) and (device-height < 1000px) {

    h1 {
        margin-bottom: .3vh;
    }

    .presentación-acts {
        width: 90vw;
        margin: 10vh 5vw 0 5vw;
    }

    .acts-container {
        display: flex;
        margin: 1em 5vw 0 5vw;
        flex-wrap: wrap;
    }

    .act {
        width: 90vw;
        padding: 2em;
    }

    .act h2 {
        margin-bottom: .9vh;
    }
}